/*
* @Author: Marte
* @Date:   2016-12-22 09:53:40
* @Last Modified by:   Marte
* @Last Modified time: 2016-12-26 17:50:42
*/

html {
    font-size: 12px;
    font-weight: bold;
}


/* 使用无衬线字体 */

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
}


/* 设置全局的CSS样式，避免图中的长按弹出菜单与选中文本的行为 */


/* a, img {
    -webkit-touch-callout: none; 禁止长按链接与图片弹出菜单
} */

a {
    display: block;
    text-decoration: none;
    color: #000;
}

h1,
ul {
    margin: 0;
    padding: 0;
}

html,
body {
    -webkit-user-select: none;
    /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}

ul,
li {
    list-style: none;
}

/* .wrap {
    width: device-width;
} */

.df,
.big-pci,
ul {
    display: flex;
    display: -webkid-flex;
}

.header,
.nav-first li,
.lable > ul > li {
    text-align: center;
}

.header {
    height: 26px;
    color: #fff;
    background: #91d4da;
}

.header > span,
.header > h1 {
    line-height: 26px;
}

.header > span {
    flex: 1;
}

.header > h1 {
    flex: 3;
    font-size: 14px;
}

.nav-first ul {
    align-items: stretch;
}

.nav-first li {
    display: inline-block;
    flex: 1;
}

.nav-first li a {
    width: 100%;
    height: 100%;
    line-height: 28px;
}

.big-pci img {
    width: 100%;
    height: 100%;
}
.lable > ul{
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-around;
}
.lable > ul > li {
    display: inline-block;
    flex-flow: row nowrap;
    /* margin-left: 30px; */
}

.lable > ul > li > img {
    width: 3rem;
    height: 3rem;
}
.lable > ul > li > span {
    display: block;
}