/*
* @Author: Marte
* @Date:   2017-01-10 23:07:30
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-13 12:55:27
*/

.console-wrap {
    display: flex;
    width: 100% - 20px;
    height: 60px;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.console-wrap button {
    border: 0;
    width: 80px;
    height: 28px;
    border-radius: 5px;
    cursor: pointer;
    background: #6cc;
    outline: none;
}

.console-wrap button:hover {
    opacity: 0.7;
}

.console-wrap input[type="text"] {
    outline: none;
}

.box-wrap {
    display: flex;
    width: 100% - 20px;
    height: 600px;
    margin: 20px;
    padding: 0 20px 0 20px;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.box {
    width: 20px;
    margin: 0 1px 0 0px;
    background: #6cc;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
    -webkit-transition: all 1s; /* Firefox 4 */
    box-shadow: 2px 0px 6px #888888;
}

.box:hover {
    opacity: 0.7;
}


.color-green{
    background: #20b46c;
}

.color-blue{
    background: #4b61e7;
}

