/*
* @Author: Marte
* @Date:   2017-01-14 12:58:51
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-14 23:39:17
*/


ul {
    display: flex;
    height: 28px;
    margin: 20px 0 20px 0;
    padding: 0;
}

li {
    min-width: 40px;
    height: 28px;
    list-style: none;
    margin-right: 5px;
    padding: 0 5px 0 5px;
    font: 16px "SimHei";
    text-align: center;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
    transition: all 2s;
    -moz-transition: all 2s;
    /* Firefox 4 */
    -webkit-transition: all 2s;
    /* Safari 和 Chrome */
    -o-transition: all 2s;
    /* Opera */

}

li:hover {
    background: #fc0000;
}

.li-tran{

}

.bg-blue {
    background: #8ac7ff;
}

.bg-yellow {
    background: #fdca88;
}



textarea {
    resize: none;
}

button {
    display: block;
    height: 26px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0;
}

button:hover {
    background: #dff1ff;
}
